/* ============================================================================
    GENERAL :: Start
   ============================================================================ */
body {
  //margin-top: $space-md; // nur für WP Vorschau
  font-weight: 400;
}

//
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  margin-bottom: 30px;
}
h2 {
  margin: 0 0 $space-lg 0;
}

//
#global-main-content {
  // xs
  @include media-breakpoint-up(xs) {
    @include make-col(12);
  }

  @include media-breakpoint-up(sm) {
    @include make-col(9);
  }

  /*
  .content {
  }
  .full-width-content {
    // xs
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
  } */
}

// container
.container {

  // Single Post
  .content-single {
    .post {
      .post-top {
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;
        .post-content {
          margin-left: $space-xs;
          // md
          @include media-breakpoint-up(md) {
            padding-left: $space-lg;
            padding-right: $space-lg;
          }
          .post-title {
            word-wrap: break-word;
            word-break: break-word;
            margin-top: 0;
            text-align: center;
          }
        }
      }
    }
  }

  // Single ausgabe
  .content-ausgabe {
    .post {
      .post-top {
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;

        // .ausgabe-img {}
        .ausgabe-content {
          margin-left: $space-xs;
          // md
          @include media-breakpoint-up(md) {
            padding-left: $space-md;
            padding-right: $space-md;
          }
          .ausgabe-title {
            word-wrap: break-word;
            word-break: break-word;
            margin-top: 0;
            text-align: left;
            font-size: $font-size-big;
            font-weight: bold;
            padding: 0;
            padding-bottom: $space-md;
          }
        }
      }
    }
  }
  .main {
    padding: 0;
    // sm
    @include media-breakpoint-up(sm) {
      padding-top: $space-md;
    }
    // images in bounds
    img {
      // @include img-responsive();
    }

    //if list of posts...
    .timeline {
      // sm
      @include media-breakpoint-up(sm) {
        padding-left: $space-sm;
        margin-left: $space-sm;
        //
        @include box-shadow(inset 1px 0 $gray-light);
      }
      &:first-of-type {
        padding-top: $space-xs;
        // sm
        @include media-breakpoint-up(sm) {
          padding-top: $space-lg * 2;
        }
      }
      &:last-of-type {
        padding-bottom: 0;
      }
    }
    // single post
    &.main-post {
      padding: 0;
      //
      @include box-shadow(none);
      // .post-top { }
    }
  }
}

// KOMMENTARE
#comments {
  margin-top: $space-lg;
  padding: 0 $space-md;

  // sx
  @include media-breakpoint-up(xs) {
    @include make-col(12);
  }
  // sm
  @include media-breakpoint-up(sm) {
    padding: 0;
  }
  #comments-new {
    @include make-row();
    aside {
      padding-right: $space-sm;

      // xs
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      // sm
      @include media-breakpoint-up(sm) {
        @include make-col(4);
      }
      h3 {
        margin-top: 0;
      }
    }
    form#comments-form {
      padding-left: $space-sm;

      // xs
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      // sm
      @include media-breakpoint-up(sm) {
        @include make-col(8);
      }

      // .form-group { }
    }
  }
  #comments-list {
    // xs
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    aside.comment {
      margin: $space-lg 0;
      .media-left {
        img {
          width: 43px;
          height: 43px;
          //@include img-circle();
        }
      }
      .comments-meta-name {
        font-weight: bold;
        font-size: $font-size-large;
        margin: 0;
        line-height: 1em;
        margin-top: 3px;
        margin-bottom: $space-sm;
      }
      .comments-meta-date {
        margin-top: 0;
        color: $gray-light;
        line-height: 1em;
      }

      // p { }
    }
  }
}

/* CATEGORY LIST */
.category-list {
  margin: 0 auto;
  .category {
    background: $gray-lighter;
    padding: 0;
    width: 190px;
    margin-bottom: $space-md;
    img {
      width: 190px;
    }
    .category-meta {
      padding: $space-md;
      .category-name {
        font-size: $font-size-large;
        font-weight: bold;
        margin: $space-sm 0 0;
      }

      // .category-description { }
    }
  }
}

// NAVI
#nav-post {
  text-align: center;
  margin: 25px 0 0;

  // button {
  // @extend btn();
  // @extend btn-primary();
  // }
}

// AUDIO PLAYER
.mejs-container {
  font-family: $font-family-sans-serif !important;
  .mejs-controls {
    .mejs-time {
      color: $text-color !important;
      span {
        color: $text-color !important;
      }
    }
    .mejs-time-rail {
      .mejs-time-current {
        background: $gray !important;
      }
    }
  }
}
.mejs-container,
.mejs-embed,
.mejs-embed body,
.mejs-container .mejs-controls {
  background: $gray-lighter !important;
  //@extend box-shadow($gray) !important;
}

/* RESPONSIVE EMBED */
.video-container {
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  position: relative;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wp-pagenavi {
  padding-top: $space-md;
  margin-bottom: $space-md;
}
