/* ============================================================================
    GENERAL :: Start
   ============================================================================ */
body {
  //margin-top: $space-md; // nur für WP Vorschau
  font-weight: 400;
}

//
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  margin-bottom: 30px;
}
h2 {
  margin: 0 0 $space-lg 0;
}

// abstand nach oben
.paddingBot10 {
  padding-bottom: $space-xs;

  @media (min-width: $screen-md-min) {
    padding-bottom: $space-md;
  }
}
.singlePadTop {
  padding-top: $space-xs;

  @media (min-width: $screen-md-min) {
    padding-top: $space-lg;
  }

  @media (min-width: $screen-lg-min) {
    padding-top: $space-lg*2;
  }
}
// container
.container {
  .container-main {
    margin-top: 0;

    @media (min-width: $screen-sm-min) {
      margin-top: $navbar-height;
    }
    #global-main-content {
      @include make-sm-column(9);

      @media (min-width: $screen-sm-min) {
        padding-right: $space-sm;
        padding-top: $space-sm * 2;
      }
      .full-width-content {
        @include make-xs-column(12);
      }
    }

    // Single Post
    .content-single {
      .post {
        .post-top {
          background: none;
          border-top: none;
          border-left: none;
          border-right: none;
          .post-content {
            margin-left: $space-xs;

            @media (min-width: $screen-md-min) {
              padding-left: $space-lg;
              padding-right: $space-lg;
            }
            .post-title {
              word-wrap: break-word;
              word-break: break-word;
              margin-top: 0;
              text-align: center;
            }
          }
        }
      }
    }

    // Single ausgabe
    .content-ausgabe {
      .post {
        .post-top {
          background: none;
          border-top: none;
          border-left: none;
          border-right: none;

          // .ausgabe-img {}
          .ausgabe-content {
            margin-left: $space-xs;

            @media (min-width: $screen-md-min) {
              padding-left: $space-md;
              padding-right: $space-md;
            }
            .ausgabe-title {
              word-wrap: break-word;
              word-break: break-word;
              margin-top: 0;
              text-align: left;
              font-size: $font-size-big;
              font-weight: bold;
              padding: 0;
              padding-bottom: $space-md;
            }
          }
        }
      }
    }
    .main {
      padding: 0;

      @media (min-width: $screen-sm-min) {
        padding-top: $space-md;
      }
      // images in bounds
      img {
        @include img-responsive();
      }

      //if list of posts...
      .timeline {
        //padding-top: $space-xs;

        @media (min-width: $screen-sm-min) {
          padding-left: $space-sm;
          margin-left: $space-sm;
          //
          @include box-shadow(inset 1px 0 $gray-light);
        }
        &:first-of-type {
          padding-top: $space-xs;

          @media (min-width: $screen-sm-min) {
            padding-top: $space-lg * 2;
          }
        }
        &:last-of-type {
          padding-bottom: 0;
        }
      }
      // single post
      &.main-post {
        padding: 0;
        //
        @include box-shadow(none);
        .post-top {
          @media (min-width: $screen-sm-min) {
            //padding: $space-md 0;
          }
        }
      }
    }
  }
}

// KOMMENTARE
#comments {
  margin-top: $space-lg;
  padding: 0 $space-md;

  @include make-xs-column(12);

  @media (min-width: $screen-sm-min) {
    padding: 0;
  }
  #comments-new {
    @include make-row();
    aside {
      padding-right: $space-sm;

      @include make-xs-column(12);
      @include make-sm-column(4);
      h3 {
        margin-top: 0;
      }
    }
    form#comments-form {
      padding-left: $space-sm;

      @include make-xs-column(12);
      @include make-sm-column(8);

      // .form-group { }
    }
  }
  #comments-list {
    @include make-xs-column(12);
    aside.comment {
      margin: $space-lg 0;
      .media-left {
        img {
          width: 43px;
          height: 43px;
          //@include img-circle();
        }
      }
      .comments-meta-name {
        font-weight: bold;
        font-size: $font-size-large;
        margin: 0;
        line-height: 1em;
        margin-top: 3px;
        margin-bottom: $space-sm;
      }
      .comments-meta-date {
        margin-top: 0;
        color: $gray-light;
        line-height: 1em;
      }

      // p { }
    }
  }
}

/* CATEGORY LIST */
.category-list {
  margin: 0 auto;
  .category {
    background: $gray-lighter;
    padding: 0;
    width: 190px;
    margin-bottom: $space-md;
    img {
      width: 190px;
    }
    .category-meta {
      padding: $space-md;
      .category-name {
        font-size: $font-size-large;
        font-weight: bold;
        margin: $space-sm 0 0;
      }

      // .category-description { }
    }
  }
}

// NAVI
#nav-post {
  text-align: center;
  margin: 25px 0 0;

  // button {
  // @extend btn();
  // @extend btn-primary();
  // }
}

// AUDIO PLAYER
.mejs-container {
  font-family: $font-family-sans-serif !important;
  .mejs-controls {
    .mejs-time {
      color: $text-color !important;
      span {
        color: $text-color !important;
      }
    }
    .mejs-time-rail {
      .mejs-time-current {
        background: $gray !important;
      }
    }
  }
}
.mejs-container,
.mejs-embed,
.mejs-embed body,
.mejs-container .mejs-controls {
  background: $gray-lighter !important;
  //@extend box-shadow($gray) !important;
}

/* RESPONSIVE EMBED */
.video-container {
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  position: relative;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wp-pagenavi {
  padding-top: $space-md;
}
