/* ============================================================================
    GLOBAL Header  :: Start
   ============================================================================ */

// Search form
.form-search {
  padding: $navbar-form-padding;
  input {
    height: 39px;
  }

  // sm
  @include media-breakpoint-up(sm) {
    padding: $navbar-form-padding 0;

    @include make-col(3);
  }
}
