/* ============================================================================
		Nav  :: Start
   ============================================================================ */
//
// .navbar {
//  text-align: center;
//  margin-bottom: 1rem;
// }

/* c
nav {
  .navbar {
    margin-bottom: 14px;
    min-height: 50px;
    height: 50px;
    .navbar-brand {
      padding: 0;
      height: 0;
      > img {
        display: inline-block;
      }
      img {
        width: $navbar-brand-img-size;
        height: $navbar-brand-img-size;
      }
      //ohne img davor
      .blogname-title-alone {
        padding: $space-sm 0;
      }
      .blogname-title {
        font-size: $font-size-large;
        height: $font-size-large;
      }
    }
    li a {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: $font-size-small;
      font-weight: 400;
      vertical-align: middle;
      text-align: left;
    }
    .navbar-header {
      padding: $space-sm;
      // sm
      @include media-breakpoint-up(sm) {
        padding: 0 $space-md;
      }
      .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  // Top Navbar
  .navbar-primary {
    border: none;
    border-bottom: 1px solid $gray-light;
  }
  .navbar-lower {
    .navbar-nav {
      li {
        a {
          @include media-breakpoint-up(xs) {
            padding: ($navbar-height/2);
            padding-left: $space-md;
          }
          //
          @include media-breakpoint-up(sm) {
            padding-left: $space-sm;
            padding-right: $space-sm;
          }
          //
          @include media-breakpoint-up(md) {
            padding-left: $space-md;
            padding-right: $space-md;
          }
        }
      }
    }

    //
    @include media-breakpoint-up(sm) {
      margin-top: ($navbar-height + 10px);// + ($navbar-height * 0.5));
      margin-bottom: -$navbar-height;
    }
  }
}
//
ul.navbar-nav {
  margin: 0;
  //
  @include list-unstyled();
  > li {
    &.current-menu-item {
      @include box-shadow(inset 0 -3px 0 $gray);
      a {
        &:hover {
          + ul.sub-menu {
            display: block;
          }
        }
      }
    }
  }
  li {
    a {
      &.current-menu-item {
        color: $text-color !important;
      }
    }
    ul.sub-menu {
      display: none;
      padding: 0;
      list-style-type: none;
      position: absolute;
      width: 100%;
      top: 42px;
      left: 0;
      z-index: 1;
      &:hover {
        display: block;
      }
      > li {
        > a {
          display: block;
          padding-top: $space-xs;
          padding-bottom: $space-xs;
          background: $white;
        }
        &:not(:last-of-type) {
          a {
            border-bottom: 1px solid $gray-light;
          }
        }
      }
    }
  }
}

.navbar-header .navbar-brand,
nav.navbar li a {
  &.current {
    background: $gray-dark;
    color: $white;
    &:hover,
    &:active {
      background: $gray-dark !important;
      color: $white !important;
    }
  }
  img.blog-image {
    width: 35px;
    margin-right: $space-xs;
  }
}
*/

/* Lower Navbar
// GLOBAL COLOR OVERWRITES
.blog-2 {
  nav.navbar-lower ul.navbar-nav > li.current-menu-item > a {
    @include box-shadow(inset 0 -3px 0 $akruetzelblau);
  }
}
.blog-4 {
  nav.navbar-lower ul.navbar-nav > li.current-menu-item > a {
    @include box-shadow(inset 0 -3px 0 $campustvrot);
  }
}
.blog-5 {
  nav.navbar-lower ul.navbar-nav > li.current-menu-item > a {
    @include box-shadow(inset 0 -3px 0 $campusradiogelb);
  }
} */
