/* ============================================================================
    Sidebar :: Start
============================================================================ */
//
#global-sidebar {
  padding-top: 14px;

  //
  @include make-sm-column(3);
  //
  @media (min-width: $screen-sm-min) {
    padding-left: $space-sm;
  }

  // Widgets
  > aside,
  > div {
    // border: 1px solid $gray-lighter;
    // background: $white;
    padding: $space-md;
    margin-bottom: $space-md;
    background: $white;
    border: 1px solid $gray-lighter;
    word-wrap: break-word;

    // &:not(:last-of-type) {}
    h3,
    .widget-title {
      margin: 0 0 $space-md;
    }
  }
}

// Recent Posts
.widget_recent_entries {
  ul {
    @include list-unstyled();
    li {
      margin-bottom: $space-sm;
    }
  }
}
.sidbarSocialTab {
  width: 100%;
  tr {
    td {
      padding: 10px;
      padding-right: 20px;
    }
  }
}
