//
// == COLORS */
//

$white:                             #fff;
$black:                             #000;
$campusmediencolour:                #ff8c00;
$campusradiogelb:                   #eec43f;
$campustvrot:                       #d44e2c;
$akruetzelblau:                     #09607e;
$light-blue:                        #f0f2f3;

$gray-darker:                       lighten(#000, 13.5%);
$gray-dark:                         lighten(#000, 20%);
$gray:                              lighten(#000, 33.5%);
$gray-light:                        lighten(#000, 80%);
$gray-lighter:                      lighten(#000, 90%);

//
// == CUSTOM
//

$space-xs:                          3.5px;
$space-sm:                          $space-xs * 2; // 7
$space-md:                          $space-xs * 4; // 14
$space-lg:                          $space-xs * 8; // 28

$bg-gray-bright:                    #fff;
$bg-gray-dark:                      #e5e5e5;

//
// == BOOTSTRAP VARIABLES
//

$brand-primary:                     $gray;
$body-bg:                           $light-blue;
$text-color:                        $gray;

// == Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:                           $light-blue;
//** Global text color on `<body>`.
$text-color:                        $gray-darker;

//** Global textual link color.
$link-color:                        $text-color;
//** Link hover color set via `darken()` function.
$link-hover-color:                  darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration:             none;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:            "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:                 Georgia, 'Times New Roman', Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:             Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base:                  $font-family-sans-serif;

$font-size-tiny:                    10px;
$font-size-small:                   13px;
$font-size-base:                    16px;
$font-size-large:                   20px;
$font-size-big:                     30px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:                  1.6;

// 
$font-size-h1:                      floor($font-size-base * 3);
$font-size-h2:                      floor($font-size-base * 1.7);
$font-size-h3:                      ceil($font-size-base * 1.5);
$font-size-h4:                      ceil($font-size-base * 1);
$font-size-h5:                      $font-size-base;
$font-size-h6:                      ceil($font-size-base * 0.85);

$border-radius-base:                0;
$input-border-radius:               $border-radius-base;

$grid-gutter-width:                 0;

$container-tablet:                  (768px + $grid-gutter-width);
$container-desktop:                 (940px + $grid-gutter-width);
$container-large-desktop:           (940px + $grid-gutter-width);

/* Navbar */

$navbar-height:                    40px;
$navbar-border-radius:             0;

$navbar-default-color:             #777;
$navbar-default-bg:                $white; //$light-blue;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);
$navbar-form-padding:              10px;
$navbar-brand-img-size:            34px;
