/* ============================================================================
    GLOBAL FOOTER  :: Start
   ============================================================================ */
//
#global-footer {
  background-color: $gray;
  color: $white;
  padding: $space-md;

  @include media-breakpoint-up(sm) {
    padding: 0;
    padding-top: $space-md;
  }
  a {
    color: $white;
  }
  .footer-title {
    font-size: $font-size-h3;
  }
  .footer-info {
    @include make-row();
    //
    .footer-adress {
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      //
      @include media-breakpoint-up(sm) {
        @include make-col-offset(2);
        @include make-col(4);
      }
    }
    // 
    .footer-adress-akruetzel {
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      //
      @include media-breakpoint-up(sm) {
        @include make-col-offset(4);
        @include make-col(8);
      }
    }
    .footer-sponsor {
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      //
      @include media-breakpoint-up(sm) {
        @include make-col-offset(2);
        @include make-col(4);
      }
    }
  }
  .footer-copyright {
    text-align: center;
    //
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
  }
  .footer-toIntern {
    text-align: center;
    //
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
  }
}
