//
// == COLORS */
//

$space-xs:                          3.5px;
$space-sm:                          $space-xs * 2; // 7
$space-md:                          $space-xs * 4; // 14
$space-lg:                          $space-xs * 8; // 28

//** Link hover decoration.
$link-hover-decoration:             none;

/* Navbar */

$navbar-height:                    40px;
$navbar-border-radius:             0;

$navbar-form-padding:              10px;
$navbar-brand-img-size:            34px;
